.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Higher if needed, to stay above other elements */
}

.customBackground {
    background-color: rgba(30, 58, 138, 0.8);
    height: 70px;
}

.customnavbar {
  display: flex !important;
  justify-content: space between !important;
  align-items: center !important;
  width: 90% !important; 
  margin: 0 auto !important;
}

.navitem {
  width: 300px !important; /* 固定寬度 */
  height: 50px !important; /* 固定高度 */
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  color: #ffffff !important;
  font-family: Arial, sans-serif !important;
  font-size: 20px !important;
  font-weight: bold !important;
  white-space: nowrap; /* 防止換行 */
  overflow: hidden !important; /* 隱藏超出的文字 */
  text-overflow: ellipsis;
}



