.custom-card {
  background-color: rgba(213, 168, 54, 1)
}

@media (max-width: 736px) {
    .custom-card { 
        padding: 2rem; /* 減少內距 */
    }

    .custom-card p {
        font-size: 1rem; /* 縮小字體 */
    }

    .custom-card button {
        font-size: 0.9rem; /* 縮小按鈕字體 */
    }
}
