.academics-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    user-select: none; /* 防止選中文本 */
    cursor: grab;
}

.course-box {
    width: 70%;
    height: 50%;
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease; /* 平滑切換動畫 */
}

.course-box:active {
    cursor: grabbing;
}
