.catalog-container {
  overflow: hidden;
  width: 100%; /* 根據需求調整 */
  position: relative;
}

.course-box {
  width: 100%;
  transition: transform 0.5s ease;
  position: absolute;
  background-color: black; /* 背景設為黑色 */
  color: white; /* 文字顏色設為白色 */
  padding: 20px; /* 可以根據需求調整內距 */
  border-radius: 8px; /* 可以讓方塊的邊角圓潤，可選 */
  transition: transform 0.5s ease;
  position: absolute;
}

.slide-in {
  transform: translateX(100%); /* 從右側滑入 */
}

.slide-out {
  transform: translateX(-100%); /* 向左滑出 */
}
