.logoImage {
    max-width: 100%
}


.button {
    font-size: 16px;
    align-items:center
}

.button2 {
    font-size: 16px;
    align-items:center
}

@media (orientation: portrait ) and  (max-width: 1000px) {
  .button2 {
    font-size: 14px;
    align-items:center
  }
}

